{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "react-hooks"],
  "rules": {
    // some any declarations are ok because we are SMART about object structures :)
    "@typescript-eslint/no-explicit-any": "off",

    // prop-types is not needed because we use Typescript!
    "react/prop-types": "off",

    // not needed for certain React Functions
    "@typescript-eslint/explicit-function-return-type": "off",

    // dont care about camelcase for now.
    "@typescript-eslint/camelcase": "off"
  }
}
